p{
  margin: 0;
}
.membership{
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 45px 0;
}
.membership_size{
  width: 400px;
  font-family: "Montserrat-Regular";
  text-align: center;
  background-color: #fff;
}
.membership_size_top{
  text-align: right;
}
.membership_size_top img{
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.membership_standard{
  margin: 17px 0 25px 0;
}
.membership_standard h3{
  margin-bottom: 25px;
  font-size: 30px;
}
.membership_standard p{
font-size: 20px;
}
.membership_main{
  background-image: url("../img/member.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFF;
  margin-bottom: 25px;
}
.membership_price{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20PX;
}
.membership_price1{
  font-size: 20px;
}
.membership_price2{
  font-size: 50px;
}
.membership_box{
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.membership_box_right{
  text-align: left;
}
.membership_box_right_1{
  font-size: 20px;
}
.membership_box_right_2{
  font-size: 12px;
}
.membership_btn{
  margin-bottom: 70px;
  text-align: center;
}
.membership_btn button{
  width: 188px;
  height: 41px;
  border: 1px solid #FF9C00;
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width:1400px) {

  .membership{
    padding: 30px 0;
  }
  .membership_size{
    width: 400px;
  }

  .membership_size_top img{
    margin: 10px 10px 0 0;
  }
  .membership_standard{
    margin: 10px 0 20px 0;
  }
  .membership_standard h3{
    margin-bottom: 15px;
    font-size: 22px;
  }
  .membership_standard p{
  font-size: 18px;
  }
  .membership_main{
    padding-top: 90px;
    padding-bottom: 100px;
    margin-bottom: 20px;
  }
  .membership_price{
    margin-bottom: 10px;
  }
  .membership_price1{
    font-size: 16px;
  }
  .membership_price2{
    font-size: 30px;
  }
  .membership_box{
    width: 90%;
    padding: 10px 0;
  }

  .membership_box_right_1{
    font-size: 16px;
  }
  .membership_box_right_2{
    font-size: 10px;
  }
  .membership_btn{
    margin-bottom: 40px;
  }
  .membership_btn button{
    width: 140px;
    height: 35px;
    font-size: 14px;
  }

}
@media screen and (max-width:500px) {

  .membership{
    padding: 20px 0;
  }
  .membership_size{
    width: 90%
  }

  .membership_size_top img{
    margin: 10px 10px 0 0;
  }
  .membership_standard{
    margin: 10px 0 0 0;
  }
  .membership_standard h3{
    margin-bottom: 5px;
    font-size: 19px;
  }
  .membership_standard p{
  font-size: 15px;
  }
  .membership_main{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  .membership_price{
    margin-bottom: 10px;
  }
  .membership_price1{
    font-size: 14px;
  }
  .membership_price2{
    font-size: 26px;
  }
  .membership_box{
    width: 90%;
    padding: 5px 0;
  }

  .membership_box_right_1{
    font-size: 14px;
  }
  .membership_box_right_2{
    font-size: 10px;
  }
  .membership_btn{
    margin-bottom: 20px;
  }
  .membership_btn button{
    width: 120px;
    height: 32px;
    font-size: 14px;
  }

}
