body {
    font-family: "Montserrat-Regular";
}
.terms_title{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin: 90px 0 70px 0;
}
.terms_title_line{
  width: 220px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
}
.terms{
  width: 87%;
  margin: 0 auto;
}
.terms_text_1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.terms_text_2{
  font-size: 22px;
    margin-bottom: 35px;
}
footer{
  box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
  margin-top: 90px;
}
@media screen and (max-width:1400px) {
  .terms_title{
    font-size: 32px;
    margin: 50px 0 40px 0;
  }
  .terms_title_line{
    width: 150px;
    height: 1px;
  }
  .terms{
    width: 87%;
  }
  .terms_text_1{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .terms_text_2{
    font-size: 16px;
      margin-bottom: 20px;
  }
  footer{
    margin-top: 40px;
  }
}
@media screen and (max-width:1700px) {
  .terms_title{
    font-size: 22px;
    margin: 30px 0 20px 0;
  }
  .terms_title_line{
    width: 80px;
    height: 1px;
  }
  .terms{
    width: 95%;
  }
  .terms_text_1{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .terms_text_2{
    font-size: 14px;
      margin-bottom: 10px;
  }
  footer{
    margin-top: 30px;
  }
}
